@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../constants/colors';

.mainHeading {
  font-family: 'Architects Daughter', cursive;
  color: $mainColor;
  display: block;
  text-align: center;
}
